:root {
  --textColor: rgb(65, 64, 66);
  --btnBgColor: #3287b7;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Neutrif Pro";
}

.nextimg {
  height: 20px;
  margin-left: 0;
}

a:hover {
  color: #485e6b !important;
}

.hand {
  height: 100px;
}
